@charset "UTF-8";
body {
    margin: 0;
}

.dummy-list p {
    margin: 0;
    padding: 0;
}

.dummy-list p {
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    line-height: 50px;
}

.dummy-on,
.dummy-off {
    background: #f0f0f0;
}

.stickyMenu div {
    width: 50%;
    padding: 0 5px;
    line-height: 60px;
    background: rgba(255, 170, 238, 0.7);
    box-sizing: border-box;
}
.stickyMenu span {
    display: inline-block;
    line-height: 1.4;
    vertical-align: middle;
}
.demo-fade1,
.demo-fade2,
.demo-fade3,
.demo-fade4 {
    text-align: right;
}
.demo-fade2.stickyMenu-fixed,
.demo-def2.stickyMenu-fixed {
    padding-top: 60px;
}
/* ずれるので */
.demo-fade2,
.demo-fade4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.demo-fade1 div,
.demo-fade2 div,
.demo-fade3 div,
.demo-fade4 div {
    display: inline-block;
    background: rgba(170, 204, 187, 0.7);
}

.demo-fade2 div,
.demo-fade4 div {
    background: rgba(238, 204, 17, 0.7);
}

.demo-fade2 div,
.demo-def2 div {
    text-align-last: left;
}

.demo-def2 div,
.demo-def4 div {
    display: inline-block;
    background: rgba(170, 187, 204, 0.7);
}

.demo-fade4.stickyMenu-fixed,
.demo-def4.stickyMenu-fixed {
    padding-bottom: 60px;
}
