@charset "UTF-8";
.stickyMenu-fixed {
    position: fixed;
    z-index: 5000001;
    top: 0;
    left: 0;
    width: 100%;
}
.stickyMenu-clone {
    display: none;
    visibility: hidden;
}
.stickyMenu-prepare + .stickyMenu-clone,
.stickyMenu-fixed + .stickyMenu-clone {
    display: block;
}
.stickyMenu-prepare {
    position: fixed;
    z-index: 5000001;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}
.stickyMenu-bottom.stickyMenu-prepare {
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.stickyMenu-prepare.stickyMenu-fixed {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.stickyMenu-fadeMode {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 5000001;
}
.stickyMenu-fadeMode.stickyMenu-fixed {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.stickyMenu-animation {
    transition: -webkit-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.stickyMenu-bottom.stickyMenu-fixed {
    top: auto;
    bottom: 0;
}
.stickyMenu-fadeMode.stickyMenu-bottom {
    top: auto;
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}
.stickyMenu-fadeMode.stickyMenu-bottom.stickyMenu-fixed {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.stickyMenu-animation.stickyMenu-fadeIn {
  transition: -webkit-transform 0.2s ease-out, -webkit-opacity 0.3s ease-out 0.2s;
  transition: transform 0.2s ease-out, opacity 0.3s ease-out 0.2s;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out, opacity 0.3s ease-out 0.2s, -webkit-opacity 0.3s ease-out 0.2s;
  opacity: 0;
}

.stickyMenu-animation.stickyMenu-fadeIn.stickyMenu-fixed {
  opacity: 1;
}
